
        a {
            text-decoration: none;
        }

        a:hover {
            color: black;
        }

        ul {
            list-style: none;
        }

        #container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        .section {
            width: 80%;
            height: 90vh;
            flex-shrink: 0;
            margin-top: 100px;
        }

        .section__information {
            display: flex;
            height: 250px;
            background-color: #4e4e4e;
            border-radius: 2px;
            align-items: center;
        }

        .section_me {
            width: 48%;
            text-align: center;
            font-size: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .section_me i {
            margin-bottom: 15px;
        }

        .section__title {
            width: 49%;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        .section__title table {
            width: 400px;
        }

        .section__title table td {
            text-align: center;
            padding: 10px 0;
        }

        .title__header {
            width: 400px;
            display: flex;
            justify-content: space-between;
        }

        .line {
            width: 1%;
            align-items: center;
            height: 80%;
            border-left: 2px solid #666;
            margin-left: 1%;
        }

        .box {
            display: flex;
            margin-top: 20px;
        }

        .section__achievements {
            background-color: #4e4e4e;
            width: 65%;
            display: flex;
            justify-content: center;
            padding: 30px;
        }

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .head h3 {
            margin: 0;
        }

        .section__achievements table {
            width: 100%;
        }

        .section__achievements td {
            /*td까지 합치면 칭호에 있는 테이블까지 줄이 생겨버림*/
            border: 1px solid #999;
        }

        .section__achievements table {
            border: 1px solid #999;
        }

        .section__achievements th {
            text-align: center;
        }

        th:nth-child(2n+1) {
            border: 1px solid #999;
        }

        .section__achievements td:nth-child(2n+1) {
            text-align: center;
        }

        .section__achievements .tier {
            width: 15%;
        }

        .section__achievements .ach_name {
            width: 55%;
        }

        .section__achievements .ach_date {
            width: 30%;
        }

        .section__notice {
            margin-left: 20px;
            width: 35%;
            background-color: #4e4e4e;
            padding: 30px;
        }

        .section__notice ul{
            padding: 0;
            margin: 0;
            margin-top: 10px;
        }

        /*태블릿*/
        @media screen and (max-width:1024){
            .section {
            width: 60%;
            height: 90vh;
            flex-shrink: 0;
            margin-top: 50px;
        }
        .section__information {
            display: flex;
            flex-direction: column;
            width: 600px;
            
            height: 400px;
            background-color: #4e4e4e;
            border-radius: 2px;
            align-items: center;
        }
        .line {
            visibility: hidden;
            width: 1%;
            align-items: center;
            height: 80%;
            border-left: 2px solid #666;
            margin-left: 1%;
        }
        }

        /*모바일*/
       @media screen and (max-width: 768px) {
        .section {
            /*font-size: 0.4rem;*/
            width: 60%;
            height: 90vh;
            flex-shrink: 0;
            margin-top: 50px;
        }
        .section__information {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
           
            height: 400px;
            background-color: #4e4e4e;
            border-radius: 2px;
            align-items: center;
        }
        .line {
            visibility: hidden;
            width: 1%;
            align-items: center;
            height: 80%;
            border-left: 2px solid #666;
            margin-left: 1%;
        }
        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 20px;
        }
        .section__achievements {
            background-color: #4e4e4e;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px;
        }
        .section__notice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0px;
            margin-top: 30px;
            width: 100%;
            background-color: #4e4e4e;
            padding: 30px;
        }
        .title__header {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            font-size: 1rem; 
        }
        .section__title {
            width: 95%;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
       }

     
    
     

  