body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: center;
}

#section {
  margin: 100px 0px;
}

table,
th,
td {
  table-layout: fixed;
}

table {
  margin: 0 auto;
  text-align: center;
}

tr:nth-child(2n-1) {
  background-color: #252526;
}

th {
  width: 25%;
  height: 120px;
}

td.desc {
  width: 56%;
}

td.button {
  width: 19%;
}

td button.gotostudy {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

/* 페이지 버튼 */
#pasing__center {
  display: flex;
  justify-content: center;
}

#pasing {
  width: 200px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pasing a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1e1e1e;
  color: white;
  padding: 0px 3px;
}

#pasing a.here {
  border: 1px solid red;
  border-radius: 2px;
  background-color: red;
}

#pasing a:hover {
  border: 1px solid #5c5c5c;
  background-color: #5c5c5c;
  border-radius: 2px;
}

/* 페이지 버튼 */
#section__create {
  width: 700px;
  display: flex;
  justify-content: right;
}
